@charset 'utf-8';
@import 'settings/colors';
@import 'settings/sizings';

.wp-menu-image {

  img {
    max-height: 100%;
  }

}

.wp-editor-wrap {
  margin: 0 1%;
  width: 98%;
}

.wp-editor-tools {
  display: none;
  padding: 0;
}


.q-and-a-plugin {

  .qa-center {
    text-align: center;
  }

  .btn {
    border: 1px solid transparent;
    border-radius: .25rem;
    color: $pure-white;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    padding: 1px;
    position: relative;
    text-align: center;
    user-select: none;
    vertical-align: middle;

    a {
      height: 100%;
      width: 100%;
    }

    a,
    a:hover,
    a:active,
    a:focus {
      color: $pure-white;
    }

    >div {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      >a {
        display: block;
      }

    }

  }

  .btn-default {
    background-color: $pure-white;
    border-color: $silver;
    color: $shadow;
  }

  .btn-default:hover {
    background-color: $mercury;
    border-color: $steel;
  }

  .btn-primary {
    background-color: $cobalt;
    border-color: $cobalt;
  }

  .btn-primary:hover {
    background-color: $azure;
    border-color: $light-navy;
  }

  .btn-success {
    background-color: $fern;
    border-color: $fern;
  }

  .btn-success:hover {
    background-color: $apple;
    border-color: $dark-apple;
  }

  .btn-danger {
    background-color: $clay;
    border-color: $clay;
  }

  .btn-danger:hover {
    background-color: $persian-red;
    border-color: $poppy;
  }

  .plugin-header {
    font-size: 28px;
    margin: 8px;
  }

  .qa-tbl {
    color: $tundora;
    display: table;
    position: relative;
    width: 100%;

    .btn {
      height: $sqr-btn-small;
      width: $sqr-btn-small;
    }

    .qa-tbl-hdr {
      cursor: default;

      >div {
        font-weight: bold;
      }

    }

    .qa-tbl-row {
      background-color: $gallery;
      cursor: pointer;
      display: table-row;
      height: $row-height;

      >div {
        display: table-cell;
        vertical-align: middle;
      }

    }

    .qa-tbl-row:nth-of-type( odd ) {
      background-color: $alto;
    }

    .page {

      .qa-page-id {
        width: 70px;
      }

      .qa-page-q-count {
        width: 120px;
      }

      .qa-page-preview {
        width: 74px;
      }

    }

    .page:hover {
      background-color: $alto-dark;
    }

  }

  .questions {
    color: $charcoal;
    position: absolute;
    width: 100%;

    .qst-table {
      display: table;
      margin: 5px 2%;
      width: 96%;

      > .qa-tbl-row {
        background-color: $light-gallery;
      }

      > .qa-tbl-row:nth-of-type( odd ) {
        background-color: $silver;
      }

      > .question:hover {
        background-color: $mercury;
      }

      > .question:nth-of-type( odd ):hover {
        background-color: $dark-silver;
      }

      > div {

        .q-name,
        .q-add {
          padding-left: 10px;
        }

        .q-embed,
        .q-edit,
        .q-preview,
        .q-delete {
          width: 64px;
        }

      }

    }

  }

  .modal {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;

    .error {
      box-shadow: 0 0 10px 0 rgba( 196, 19, 19, 1 );
    }

    .error-text {
      color: $crimson;
      font-size: 14px;
    }

    .modal-overlay {
      background: rgba( 0, 0, 0, .9 );
      height: 100%;
      position: absolute;
      width: 100%;
    }

    &.page>.modal-content {
      height: auto;
      max-height: 90%;
      width: 80%;
    }

    &.question>.modal-content {
      height: 800px;
      width: 660px;
    }

    .modal-content {
      background-color: rgba( 255, 255, 255, .95 );
      border-radius: 7px;
      bottom: 0;
      box-shadow: 0 0 10px $night;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;

      >.modal-close {
        cursor: pointer;
        height: 20px;
        position: absolute;
        right: 4px;
        top: 4px;
        width: 20px;

        >.glyphicon {
          font-size: 20px;
        }

      }

      >.modal-header {
        display: inline-block;
        height: auto;
        left: 0;
        margin: 14px 36px 14px 14px;
        max-height: 68px;
        overflow-y: scroll;
        position: relative;
        top: 0;

        >h1 {
          display: inline-block;
          font-size: 24px;
          margin: 0;
        }

      }

      >.modal-body {
        display: inline-block;
        height: auto;
        overflow-y: scroll;
        position: relative;
        width: 100%;

        .wp-editor-area {
          resize: vertical;
        }

        .wp-editor-wrap,
        .wp-editor-container,
        .wp-editor-container
        .wp-editor-area {
          height: 100%;
        }

        >form {
          margin: 0 2%;
          width: 96%;

          label {
            cursor: default;
            display: inline-block;
            margin-bottom: 4px;
            margin-left: 2px;
          }

          .form-control:focus {
            border-color: $sky;
            outline: 0;
          }

          fieldset {
            border: 0;
            border-radius: 5px;
            margin-bottom: 8px;
            padding: 0;

            .mc-option-change {
              display: inline-block;
              margin-right: 12px;
            }

            .btn.mc-remove-option {
              border-radius: 4px 0 0 4px;
            }

            .btn.mc-add-option {
              border-left: 0;
              border-radius: 0 4px 4px 0;
            }

            &.hints,
            &.input-output {

              >label {
                display: block;
              }

              textarea {
                margin: 8px 0;
              }

              .btn:first-of-type {
                border-left: 1px solid $silver;
                border-radius: 3px 0 0 3px;
              }

              .btn {
                border-left: 0;
                border-radius: 0;
              }

              .btn:last-of-type {
                border-left: 0;
                border-radius: 0 3px 3px 0;
              }

            }

          }

          input,
          select,
          textarea {
            border-radius: 4px;
            display: block;
            padding: 3px 12px;
            width: 100%;
          }

          input,
          select {
            height: 30px;
          }

          .input-group {
            display: inline-table;
            width: 100%;

            input {
              border: 0;
              border-radius: 4px 0 0 4px;
              display: table-cell;
            }

            .correct {
              background-color: $mint-green;
              color: $parsley;
            }

            .wrong {
              background-color: $pastel-pink;
              color: $crimson;
            }

            .input-group-addon {
              display: table-cell;
              height: 30px;
              text-align: center;
              vertical-align: middle;
              width: 30px;

              .btn {
                border: 0;
                display: inline-block;
                height: 30px;
                width: 30px;
              }

              &.correct-answer .btn {
                border-radius: 0;
              }

              &.wrong-answer .btn {
                border-radius: 0 4px 4px 0;
              }

            }

          }

          .mc-text-option .input-group {
            border: 1px solid rgba( 33, 33, 33, .2 );
            border-radius: 5px;
          }

          .code-editor {
            border-radius: 4px;
            height: 240px;
            margin: 10px 0;
            width: 100%;
          }

        }

      }

      .modal-footer {
        bottom: 0;
        display: table;
        height: 60px;
        position: absolute;
        text-align: right;
        width: 100%;

        >.modal-footer-buttons {
          display: table-cell;
          padding-right: 20px;
          vertical-align: middle;

          >.btn {
            border-radius: 4px;
            height: 36px;
            margin-left: 10px;
            width: 100px;
          }

        }

      }

      >.modal-message-overlay {
        background: rgba( 222, 222, 222, .8 );
        border-radius: 7px;
        display: table;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;

        .modal-message-content {
          display: table-cell;
          text-align: center;
          vertical-align: middle;
        }

      }

    }

  }

}
