div.qa-tbl {
    width: 100%;
    display: table;
    position: relative;
}

div.qa-tbl-row {
    height: 32px;
    display: table-row;
}

div.qa-tbl-row.qa-tbl-hdr {
    cursor: default;
}


div.qa-tbl-row {
    background-color: #EAEAEA;
    cursor: pointer;
}

div.qa-tbl-row.page:hover {
    background-color: #D8D8D8 !important;
}

div.qa-tbl>div.qa-tbl-row.qa-stripe:nth-of-type(odd) {
    background-color: #DFDFDF;
}

div.qa-tbl-row>div {
    display: table-cell;
    vertical-align: middle;
}

div.qa-tbl-row.qa-tbl-hdr>div {
    font-weight: bold;
}

div.qa-tbl-col-1 {
    text-align: center;
}

div.questions {
    width: 100%;
    position: absolute;
}

div.qst-table {
    width: 96%;
    display: table;
    margin: 5px 2%;
}

div.qst-table div.qa-tbl-row>div {
    height: 32px;
}

div.qst-table div.qa-tbl-row:nth-of-type(odd) {
    background-color: #C1C1C1;
}

div.qa-tbl-row.question:hover {
    background-color: #E1E1E1 !important;
}

div.qst-table div.qa-tbl-row.question:nth-of-type(odd):hover {
    background-color: #BEBEBE !important;
}

div.qst-table button {
    height: 28px;
    width: 28px;
    padding: 1px;
}

.btn {
     display: inline-block;
     font-weight: 400;
     text-align: center;
     vertical-align: middle;
     cursor: pointer;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     border: 1px solid transparent;
     border-radius: .25rem;
     color: #fff;
 }

.btn.page-preview {
    position: relative;
}

.btn.page-preview a, .btn.page-preview a:hover, .btn.page-preview a:active, .btn.page-preview a:focus {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.btn.page-preview a, .btn.page-preview a:hover, .btn.page-preview a:active, .btn.page-preview a:focus {
    color: #fff;
}

.btn-default {
    color: #373a3c;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-success {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-success:hover {
    background-color: #449d44;
    border-color: #419641;
}

.btn-primary {
    background-color: #0275d8;
    border-color: #0275d8;
}

.btn-primary:hover {
    background-color: #025aa5;
    border-color: #01549b;
}

.btn-info {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-info:hover {
    background-color: #31b0d5;
    border-color: #2aabd2;
}

.btn-danger {
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-danger:hover {
    background-color: #c9302c;
    border-color: #c12e2a;
}

div.q-name, div.q-add {
    padding-left: 10px;
}

.qa-center {
    text-align: center;
}

div.q-name, div.q-embed, div.q-edit, div.q-preview, div.q-report, div.q-report, div.q-delete {
    padding: 0 10px;
}

div.qa-page-preview {
    padding: 0 1%;
}

div.modal {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(33,33,33,0.6);
    z-index: 100000;
}

div.modal-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(255,255,255,0.95);
    border-radius: 7px;
    box-shadow: 0px 0px 10px #222;
}

div#q-embed-preview-modal>div.modal-content {
    height: auto;
    max-height: 90%;
    width: 80%;
}

div#q-add-edit-modal>div.modal-content {
    height: 800px;
    width: 660px;
}

div.modal-body {
    height: auto;
    width: 100%;
    display: inline-block;
    position: relative;
    overflow-y: scroll;
}

.wp-editor-wrap, .wp-editor-container, .wp-editor-container textarea.wp-editor-area {
    height: 100%;
}

div.modal-header {
    height: auto;
    max-height: 68px;
    overflow-y: scroll;
    display: inline-block;
    position: relative;
    margin: 14px;
    margin-right: 36px;
    top: 0;
    left: 0;
}

div.modal-header>h1 {
    display: inline-block;
    margin: 0;
    font-size: 24px;
}

div.modal-close {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 4px;
    top: 4px;
    cursor: pointer;
}

div.modal-close>span.glyphicon {
    font-size: 20px;
}

div.modal-footer {
    height: 60px;
    width: 100%;
    display: table;
    position: absolute;
    bottom: 0;
    text-align: right;
}

div.modal-footer-buttons {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
}

div.modal-footer-buttons>button {
    height: 36px;
    width: 100px;
    margin-left: 10px;
    border-radius: 4px;
}

div.modal-message-overlay {
    height: 100%;
    width: 100%;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(222,222,222, 0.8);
    z-index: 1;
    border-radius: 7px;
}

div.modal-message-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


/* QUESTION FORM */

div.modal-body form {
    width: 96%;
    margin: 0 2%;
}

div.modal-body form .form-control:focus {
    border-color: #66afe9;
    outline: 0;
}

div.modal-body fieldset {
    border: none;
    padding: 0;
    padding-bottom: 8px;
}

div.modal-body label {
    display: inline-block;
    margin-bottom: 4px;
    margin-left: 2px;
}

div.modal-body input, div.modal-body select, div.modal-body textarea {
    width: 100%;
    display: block;
    padding: 3px 12px;
    border-radius: 4px;
}

div.modal-body input, div.modal-body select {
    height: 30px;
}

/* Multiple choice text */

div.input-group {
    width: 100%;
    display: inline-table;
}

div.input-group input {
    display: table-cell;
    border-radius: 4px 0px 0px 4px
}

div.input-group input.correct {
     color: #1D621D;
     background-color: #E7FFE1;
     border-color: #d6e9c6;
 }

div.input-group input.wrong {
    color: #A40A0A;
    background-color: #FFEBEB;
    border-color: #ebccd1;
}

div.input-group-addon {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    border: 1px solid rgba(200,200,200,0.5);
    border-radius: 4px;
}

div.input-group-addon button {
    height: 30px;
    width: 30px;
    display: inline-block;
    border: none;
}

/* Multiple choice text */

/* Code editor */

div#editor {
    height: 300px;
    width: 100%;
    border-radius: 4px;
    margin-top: 10px;
}

/* Code editor */

#adminmenu .wp-menu-image img {
    max-height: 100%;
    padding: 0;
}

/* WP Editor */

.wp-editor-wrap {
    width: 98%;
    margin: 0 1%;
}

.wp-editor-tools {
    padding: 0;
    display: none;
}

