.wp-menu-image img {
  max-height: 100%; }

.wp-editor-wrap {
  margin: 0 1%;
  width: 98%; }

.wp-editor-tools {
  display: none;
  padding: 0; }

.q-and-a-plugin .qa-center {
  text-align: center; }
.q-and-a-plugin .btn {
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  padding: 1px;
  position: relative;
  text-align: center;
  user-select: none;
  vertical-align: middle; }
  .q-and-a-plugin .btn a {
    height: 100%;
    width: 100%; }
  .q-and-a-plugin .btn a,
  .q-and-a-plugin .btn a:hover,
  .q-and-a-plugin .btn a:active,
  .q-and-a-plugin .btn a:focus {
    color: #fff; }
  .q-and-a-plugin .btn > div {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
    .q-and-a-plugin .btn > div > a {
      display: block; }
.q-and-a-plugin .btn-default {
  background-color: #fff;
  border-color: #ccc;
  color: #373a3c; }
.q-and-a-plugin .btn-default:hover {
  background-color: #e6e6e6;
  border-color: #adadad; }
.q-and-a-plugin .btn-primary {
  background-color: #0275d8;
  border-color: #0275d8; }
.q-and-a-plugin .btn-primary:hover {
  background-color: #025aa5;
  border-color: #01549b; }
.q-and-a-plugin .btn-success {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.q-and-a-plugin .btn-success:hover {
  background-color: #449d44;
  border-color: #419641; }
.q-and-a-plugin .btn-danger {
  background-color: #d9534f;
  border-color: #d9534f; }
.q-and-a-plugin .btn-danger:hover {
  background-color: #c9302c;
  border-color: #c12e2a; }
.q-and-a-plugin .plugin-header {
  font-size: 28px;
  margin: 8px; }
.q-and-a-plugin .qa-tbl {
  color: #444;
  display: table;
  position: relative;
  width: 100%; }
  .q-and-a-plugin .qa-tbl .btn {
    height: 28px;
    width: 28px; }
  .q-and-a-plugin .qa-tbl .qa-tbl-hdr {
    cursor: default; }
    .q-and-a-plugin .qa-tbl .qa-tbl-hdr > div {
      font-weight: bold; }
  .q-and-a-plugin .qa-tbl .qa-tbl-row {
    background-color: #eaeaea;
    cursor: pointer;
    display: table-row;
    height: 32px; }
    .q-and-a-plugin .qa-tbl .qa-tbl-row > div {
      display: table-cell;
      vertical-align: middle; }
  .q-and-a-plugin .qa-tbl .qa-tbl-row:nth-of-type(odd) {
    background-color: #dfdfdf; }
  .q-and-a-plugin .qa-tbl .page .qa-page-id {
    width: 70px; }
  .q-and-a-plugin .qa-tbl .page .qa-page-q-count {
    width: 120px; }
  .q-and-a-plugin .qa-tbl .page .qa-page-preview {
    width: 74px; }
  .q-and-a-plugin .qa-tbl .page:hover {
    background-color: #d8d8d8; }
.q-and-a-plugin .questions {
  color: #333;
  position: absolute;
  width: 100%; }
  .q-and-a-plugin .questions .qst-table {
    display: table;
    margin: 5px 2%;
    width: 96%; }
    .q-and-a-plugin .questions .qst-table > .qa-tbl-row {
      background-color: #ececec; }
    .q-and-a-plugin .questions .qst-table > .qa-tbl-row:nth-of-type(odd) {
      background-color: #cbcbcb; }
    .q-and-a-plugin .questions .qst-table > .question:hover {
      background-color: #e6e6e6; }
    .q-and-a-plugin .questions .qst-table > .question:nth-of-type(odd):hover {
      background-color: #c5c5c5; }
    .q-and-a-plugin .questions .qst-table > div .q-name,
    .q-and-a-plugin .questions .qst-table > div .q-add {
      padding-left: 10px; }
    .q-and-a-plugin .questions .qst-table > div .q-embed,
    .q-and-a-plugin .questions .qst-table > div .q-edit,
    .q-and-a-plugin .questions .qst-table > div .q-preview,
    .q-and-a-plugin .questions .qst-table > div .q-delete {
      width: 64px; }
.q-and-a-plugin .modal {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000; }
  .q-and-a-plugin .modal .error {
    box-shadow: 0 0 10px 0 #c41313; }
  .q-and-a-plugin .modal .error-text {
    color: #a40a0a;
    font-size: 14px; }
  .q-and-a-plugin .modal .modal-overlay {
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    position: absolute;
    width: 100%; }
  .q-and-a-plugin .modal.page > .modal-content {
    height: auto;
    max-height: 90%;
    width: 80%; }
  .q-and-a-plugin .modal.question > .modal-content {
    height: 800px;
    width: 660px; }
  .q-and-a-plugin .modal .modal-content {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 7px;
    bottom: 0;
    box-shadow: 0 0 10px #222;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0; }
    .q-and-a-plugin .modal .modal-content > .modal-close {
      cursor: pointer;
      height: 20px;
      position: absolute;
      right: 4px;
      top: 4px;
      width: 20px; }
      .q-and-a-plugin .modal .modal-content > .modal-close > .glyphicon {
        font-size: 20px; }
    .q-and-a-plugin .modal .modal-content > .modal-header {
      display: inline-block;
      height: auto;
      left: 0;
      margin: 14px;
      margin-right: 36px;
      max-height: 68px;
      overflow-y: scroll;
      position: relative;
      top: 0; }
      .q-and-a-plugin .modal .modal-content > .modal-header > h1 {
        display: inline-block;
        font-size: 24px;
        margin: 0; }
    .q-and-a-plugin .modal .modal-content > .modal-body {
      display: inline-block;
      height: auto;
      overflow-y: scroll;
      position: relative;
      width: 100%; }
      .q-and-a-plugin .modal .modal-content > .modal-body .wp-editor-area {
        resize: vertical; }
      .q-and-a-plugin .modal .modal-content > .modal-body .wp-editor-wrap,
      .q-and-a-plugin .modal .modal-content > .modal-body .wp-editor-container,
      .q-and-a-plugin .modal .modal-content > .modal-body .wp-editor-container
      .wp-editor-area {
        height: 100%; }
      .q-and-a-plugin .modal .modal-content > .modal-body > form {
        margin: 0 2%;
        width: 96%; }
        .q-and-a-plugin .modal .modal-content > .modal-body > form label {
          cursor: default;
          display: inline-block;
          margin-bottom: 4px;
          margin-left: 2px; }
        .q-and-a-plugin .modal .modal-content > .modal-body > form .form-control:focus {
          border-color: #66afe9;
          outline: 0; }
        .q-and-a-plugin .modal .modal-content > .modal-body > form fieldset {
          border: 0;
          border-radius: 5px;
          margin-bottom: 8px;
          padding: 0; }
          .q-and-a-plugin .modal .modal-content > .modal-body > form fieldset .mc-option-change {
            display: inline-block;
            margin-right: 12px; }
          .q-and-a-plugin .modal .modal-content > .modal-body > form fieldset .btn.mc-remove-option {
            border-radius: 4px 0 0 4px; }
          .q-and-a-plugin .modal .modal-content > .modal-body > form fieldset .btn.mc-add-option {
            border-left: 0;
            border-radius: 0 4px 4px 0; }
          .q-and-a-plugin .modal .modal-content > .modal-body > form fieldset.hints > label, .q-and-a-plugin .modal .modal-content > .modal-body > form fieldset.input-output > label {
            display: block; }
          .q-and-a-plugin .modal .modal-content > .modal-body > form fieldset.hints textarea, .q-and-a-plugin .modal .modal-content > .modal-body > form fieldset.input-output textarea {
            margin: 8px 0; }
          .q-and-a-plugin .modal .modal-content > .modal-body > form fieldset.hints .btn:first-of-type, .q-and-a-plugin .modal .modal-content > .modal-body > form fieldset.input-output .btn:first-of-type {
            border-left: 1px solid #ccc;
            border-radius: 3px 0 0 3px; }
          .q-and-a-plugin .modal .modal-content > .modal-body > form fieldset.hints .btn, .q-and-a-plugin .modal .modal-content > .modal-body > form fieldset.input-output .btn {
            border-left: 0;
            border-radius: 0; }
          .q-and-a-plugin .modal .modal-content > .modal-body > form fieldset.hints .btn:last-of-type, .q-and-a-plugin .modal .modal-content > .modal-body > form fieldset.input-output .btn:last-of-type {
            border-left: 0;
            border-radius: 0 3px 3px 0; }
        .q-and-a-plugin .modal .modal-content > .modal-body > form input,
        .q-and-a-plugin .modal .modal-content > .modal-body > form select,
        .q-and-a-plugin .modal .modal-content > .modal-body > form textarea {
          border-radius: 4px;
          display: block;
          padding: 3px 12px;
          width: 100%; }
        .q-and-a-plugin .modal .modal-content > .modal-body > form input,
        .q-and-a-plugin .modal .modal-content > .modal-body > form select {
          height: 30px; }
        .q-and-a-plugin .modal .modal-content > .modal-body > form .input-group {
          display: inline-table;
          width: 100%; }
          .q-and-a-plugin .modal .modal-content > .modal-body > form .input-group input {
            border: 0;
            border-radius: 4px 0 0 4px;
            display: table-cell; }
          .q-and-a-plugin .modal .modal-content > .modal-body > form .input-group .correct {
            background-color: #e7ffe1;
            color: #1d621d; }
          .q-and-a-plugin .modal .modal-content > .modal-body > form .input-group .wrong {
            background-color: #ebccd1;
            color: #a40a0a; }
          .q-and-a-plugin .modal .modal-content > .modal-body > form .input-group .input-group-addon {
            display: table-cell;
            height: 30px;
            text-align: center;
            vertical-align: middle;
            width: 30px; }
            .q-and-a-plugin .modal .modal-content > .modal-body > form .input-group .input-group-addon .btn {
              border: 0;
              display: inline-block;
              height: 30px;
              width: 30px; }
            .q-and-a-plugin .modal .modal-content > .modal-body > form .input-group .input-group-addon.correct-answer .btn {
              border-radius: 0; }
            .q-and-a-plugin .modal .modal-content > .modal-body > form .input-group .input-group-addon.wrong-answer .btn {
              border-radius: 0 4px 4px 0; }
        .q-and-a-plugin .modal .modal-content > .modal-body > form .mc-text-option .input-group {
          border: 1px solid rgba(33, 33, 33, 0.2);
          border-radius: 5px; }
        .q-and-a-plugin .modal .modal-content > .modal-body > form .code-editor {
          border-radius: 4px;
          height: 240px;
          margin: 10px 0;
          width: 100%; }
    .q-and-a-plugin .modal .modal-content .modal-footer {
      bottom: 0;
      display: table;
      height: 60px;
      position: absolute;
      text-align: right;
      width: 100%; }
      .q-and-a-plugin .modal .modal-content .modal-footer > .modal-footer-buttons {
        display: table-cell;
        padding-right: 20px;
        vertical-align: middle; }
        .q-and-a-plugin .modal .modal-content .modal-footer > .modal-footer-buttons > .btn {
          border-radius: 4px;
          height: 36px;
          margin-left: 10px;
          width: 100px; }
    .q-and-a-plugin .modal .modal-content > .modal-message-overlay {
      background: rgba(222, 222, 222, 0.8);
      border-radius: 7px;
      display: table;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1; }
      .q-and-a-plugin .modal .modal-content > .modal-message-overlay .modal-message-content {
        display: table-cell;
        text-align: center;
        vertical-align: middle; }

/*# sourceMappingURL=style.css.map */
