$alto: #dfdfdf;
$alto-dark: #d8d8d8;
$apple: #449d44;
$azure: #025aa5;
$charcoal: #333;
$clay: #d9534f;
$cobalt: #0275d8;
$crimson: #a40a0a;
$dark-apple: #419641;
$dark-silver: #c5c5c5;
$fern: #5cb85c;
$gallery: #eaeaea;
$light-gallery: #ececec;
$light-navy: #01549b;
$mercury: #e6e6e6;
$mint-green: #e7ffe1;
$night: #222;
$parsley: #1d621d;
$pastel-pink: #ebccd1;
$persian-red: #c9302c;
$poppy: #c12e2a;
$pure-white: #fff;
$shadow: #373a3c;
$silver: #cbcbcb;
$sky: #66afe9;
$steel: #adadad;
$tundora: #444;
