$alto: #dfdfdf;
$alto-dark: #d6d6d6;
$apple: #449d44;
$azure: #025aa5;
$clay: #d9534f;
$cobalt: #0275d8;
$crimson: #a40a0a;
$fern: #5cb85c;
$mercury: #e6e6e6;
$mint-green: #e7ffe1;
$parsley: #1d621d;
$pastel-pink: #ebccd1;
$poppy: #c12e2a;
$white: #fff;
$shadow: #373a3c;
$sky: #66afe9;
$steel: #adadad;
