form {
  margin: 0 2%;
  width: 96%;

  label {
    cursor: default;
    display: inline-block;
    margin: $margin-small;
  }

  .form-control:focus {
    border-color: $sky;
    outline: 0;
  }

  fieldset {
    border: 0;
    border-radius: 5px;
    margin: $margin-medium;
    padding: 0;

    .mc-option-change {
      display: inline-block;
      margin-right: 12px;
    }

    .btn {
      height: $sqr-btn-small;
      width: $sqr-btn-small;

      &.active {
        width: 60px;
      }

      &.mc-remove-option {
        border-radius: $brdr-rad-left-med;
      }

      &.mc-add-option {
        border-left: 0;
        border-radius: $brdr-rad-right-med;
      }

    }

    &.hints,
    &.input-output {

      >label {
        display: block;
      }

      textarea {
        margin: $margin-vert-large;
      }

      .btn:first-of-type {
        border-left: 1px solid $alto-dark;
        border-radius: $brdr-rad-left-med;
      }

      .btn {
        border-left: 0;
        border-radius: 0;
      }

      .btn:last-of-type {
        border-left: 0;
        border-radius: $brdr-rad-right-med;
      }

    }

  }

  input,
  select,
  textarea {
    border-radius: 4px;
    display: block;
    padding: 3px 12px;
    width: 100%;
  }

  input,
  select {
    height: 30px;
  }

  .input-group {
    display: inline-table;
    width: 100%;

    input {
      border: 0;
      border-radius: 4px 0 0 4px;
      display: table-cell;
    }

    .correct {
      background-color: $mint-green;
      color: $parsley;
    }

    .wrong {
      background-color: $pastel-pink;
      color: $crimson;
    }

    .input-group-addon {
      display: table-cell;
      height: 30px;
      text-align: center;
      vertical-align: middle;
      width: 30px;

      .btn {
        border: 0;
        display: inline-block;
        height: 30px;
        width: 30px;
      }

      &.correct-answer .btn {
        border-radius: 0;
      }

      &.wrong-answer .btn {
        border-radius: 0 4px 4px 0;
      }

    }

  }

  .mc-text-option .input-group {
    border: 1px solid rgba( 33, 33, 33, .2 );
    border-radius: 5px;
  }

  .code-editor {
    border-radius: 4px;
    height: 240px;
    margin: 10px 0;
    width: 100%;
  }

}
