.login {
  background-color: $alto;
  font-family: Arial;
  height: 100%;
  width: 100%;

  >.login-box {
    background: $mercury;
    border-radius: 6px;
    bottom: 10%;
    box-shadow: 0 0 10px $shadow;
    color: $shadow;
    cursor: pointer;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: color .6s ease, background-color .6s ease;
    width: 250px;

    &:hover {
      background-color: $shadow;
      color: $mercury;
    }

    >.error {
      color: $crimson;
      display: none;
      left: 0;
      position: absolute;
      right: 0;
      top: -36px;
    }

    >.login-button {
      font-size: 20px;
      line-height: 60px;

      >a {
        color: $shadow;
        display: inline-block;
        height: 100%;
        text-decoration: none;
        width: 100%;

        &:focus,
        &:active {
          color: $shadow;
        }

        &:hover {
          color: $mercury;
        }

      }



      >i {
        font-size: 26px;
        margin-left: 6px;
        top: 2px;
      }
    }
  }
}
