.wp-menu-image {

  img {
    max-height: 100%;
  }

}

.q-and-a-plugin {

  .wp-editor-wrap {
    margin: 0 1%;
    width: 98%;

    >.wp-editor-container {

      >.wp-editor-area {
        color: $shadow;
      }

    }

  }

  .wp-editor-tools {
    display: none;
    padding: 0;
  }

}
