.modal-header {
  display: inline-block;
  height: auto;
  left: 0;
  margin: 14px 36px 14px 14px;
  max-height: 68px;
  overflow-y: scroll;
  position: relative;
  top: 0;

  >h1 {
    display: inline-block;
    font-size: 24px;
    margin: 0;
  }

}
