.modal {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;

  .modal-overlay {
    background: rgba( 0, 0, 0, .9 );
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &.page>.modal-content {
    height: auto;
    max-height: 90%;
    width: 80%;
  }

  &.question>.modal-content {
    height: 800px;
    width: 660px;
  }

  .modal-content {
    background-color: rgba( 255, 255, 255, .95 );
    border-radius: 7px;
    bottom: 0;
    box-shadow: 0 0 10px $night;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;

    >.modal-close {
      cursor: pointer;
      height: 20px;
      position: absolute;
      right: 4px;
      top: 4px;
      width: 20px;

      >.glyphicon {
        font-size: 20px;
      }

    }

    >.modal-message-overlay {
      background: rgba( 222, 222, 222, .8 );
      border-radius: 7px;
      display: table;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;

      .modal-message-content {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }

    }

  }

}
